/* styles.css */
@import url('./Banner.css');
.home-section {
  margin-top: 20px; /* Espaciado opcional */
  text-align: center; /* Centrar el contenido */
}

/* Estilo general para el header */
.header {
  position: relative; /* Asegura que el header esté encima del banner */
  z-index: 10; /* Coloca el header sobre el banner */
  color: black;/* Cambia el color del texto para contraste */
 height: 15vh;/* Ocupa toda la altura de la ventana */
  display: flex;
 flex-direction: column; /* Coloca los elementos en columna */
  justify-content: space-between; /* Centra la navegación verticalmente */
  align-items: center; /* Centra la navegación horizontalmente */
}


/* Estilo para el logo */
.logo img {
  position: absolute;
  /* Posiciona el logo de forma absoluta */
  top: 10px;
  /* Ajusta la distancia desde la parte superior */
  left: 70px;
  /* Ajusta la distancia desde la izquierda */

  height: 60px; /* Ajusta la altura del logo */
  width: auto; /* Mantiene la proporción */
  border-radius: 30px;
  background: red;
}

/* Estilo para la navegación */
.header nav {
  position: absolute;
  /* Posiciona el logo de forma absoluta */
  top: 1px;
  /* Ajusta la distancia desde la parte superior */

  display: flex;
  gap: 15px;
  /* Espaciado entre los enlaces */
  justify-content: flex-end;
  /* Alinea los elementos de la navegación a la derecha */
  padding: 10px 20px;
  border-radius: 5px;
}

.header nav a {
  color: white;
  /* Asegura que los enlaces sean visibles */
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  transition: color 0.3s ease;
  padding: 8px 15px;

}

.header nav a:hover {
  /*color: #ffcc00;
  /* Cambia el color de los enlaces al pasar el mouse */
}


/* Estilo del icono de hamburguesa */
.menu-toggle {
  display: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: white;
}

/* Estilo del menú */
.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgba(51, 51, 51, 0.9); /* Fondo con opacidad */
  position: absolute;
  top: 60px;
  left: 0;
  padding: 10px;
  z-index: 1500;
}
.menu.show {
  display: flex;
}

.menu a {
  text-decoration: none;
  color: #000;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}
.menu a:hover {
  background-color: #444;
}
/*Estilos submenu*/
.submenu-container {
  position: relative;
}
.submenu-toggle { 
  cursor: pointer;
  position: relative;
  color: white;
  
  font-size: 15px;
  font-weight: 500;
  padding: 8px 15px;
}

.submenu-toggle:hover {
 /* color: #ffcc00;*/
  /* Cambia el color de los enlaces al pasar el mouse */
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #000;
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 2000;
  min-width: 150px; /* Asegura un ancho mínimo consistente */

}

.submenu.show {
  display: block;
}
.submenu a {
  display: block;
  padding: 0.5rem 1rem;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s;
}

.submenu a:hover {
  background-color: #444;

} 

/* Media Query para pantallas pequeñas */

@media (max-width: 768px) {


  /* Estilo para la navegación */
  .header nav {
    right: 20px;
    justify-content: flex-end;
    /* Alinea los elementos de la navegación a la derecha */
    border-radius: 5px;

  }

  .header nav a {
    font-size: 15px;
    font-weight: 500;
    padding: 10px;

  }

  .menu {   

    display: none;
    /* Oculta el menú por defecto */
    flex-direction: column;
    gap: 10px;
    background-color: rgba(51, 51, 51, 0.8);
    /* Fondo semi-transparente */
    position: absolute;
    top: 60px;
    left: 0;
    padding: 5px;

  }

  .menu-toggle {
    display: block;
    /* Muestra el icono de hamburguesa */
    cursor: pointer;
    font-size: 1.5rem;
  }

  .menu.show {
    display: flex;
    /* Muestra el menú cuando tenga la clase "show" */
    margin: 0px 0px 0px -100px;
    width: 150px;

  }
  .submenu {
    position: relative;
    background-color: #000;
    padding: 0;
    margin-top: 5px; /* Agrega un pequeño espacio entre el submenú y el enlace padre */

  }

  .submenu a {
    border-bottom: 1px solid #333;
  }

  .submenu.show {
    display: block;
  }


  /* Estilo para el logo */
.logo img {
  
  left: 30px;

}
}

/* Estilo para dispositivos móviles */
@media (max-width: 768px) {
  .menu {   

    display: none;
    /* Oculta el menú por defecto */
    flex-direction: column;
    gap: 10px;
    background-color: rgba(51, 51, 51, 0.8);
    /* Fondo semi-transparente */
    position: absolute;
    top: 60px;
    left: 0;
    padding: 5px;

  }

  .menu.show {
    display: flex;
  }

  .menu-toggle {
    display: block;
    cursor: pointer;
    font-size: 1.5rem;
  }
}